RPC_URL=https://eth-sepolia.g.alchemy.com/v2/REEMPLAZA_ESTO_CON_TU_API_KEY_DE_ALCHEMY
# O si usas Infura:
# RPC_URL=https://sepolia.infura.io/v3/REEMPLAZA_ESTO_CON_TU_API_KEY_DE_INFURA

# La dirección del contrato inteligente en Sepolia
CONTRACT_ADDRESS=0x694AA1769357215DE4FAC081bf1f309aDC325306
